In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [72]:
index = ['A','B','C','D','E','F','G','H','I','J']
d = {'X':[5.9,4.6,6.2,4.7,5.5,5.0,4.9,6.7,5.1,6.0],
     'Y':[3.2,2.9,2.8,3.2,4.2,3.0,3.1,3.1,3.8,3.0]}

df = pd.DataFrame(data=d, index=index)

In [73]:
df

     X    Y
A  5.9  3.2
B  4.6  2.9
C  6.2  2.8
D  4.7  3.2
E  5.5  4.2
F  5.0  3.0
G  4.9  3.1
H  6.7  3.1
I  5.1  3.8
J  6.0  3.0

In [74]:
from sklearn.cluster import KMeans

In [79]:
centroids = np.array([[6.2, 3.2],
              [6.6, 3.7],
              [6.5, 3.0]], np.float64)

In [80]:
print(centroids)

[[6.2 3.2]
 [6.6 3.7]
 [6.5 3. ]]

In [81]:
cluster = KMeans(n_clusters=3, init=centroids, n_init=1, random_state=None, verbose=1).fit(df)

Initialization complete
start iteration
done sorting
end inner loop
Iteration 0, inertia 2.5785714285714287
start iteration
done sorting
end inner loop
Iteration 1, inertia 0.7775000000000006
start iteration
done sorting
end inner loop
Iteration 2, inertia 0.7775000000000006
center shift 0.000000e+00 within tolerance 3.122500e-05

In [84]:
# print kmeans
centers = cluster.cluster_centers_
interations = cluster.n_iter_
labels = cluster.labels_
print(f'\n Centroids:\n\n {centers.round(4)}')
print(f'\n Number of interation: {interations}')
print(f'\n Labels: {labels}')

 Centroids:

 [[4.8   3.05 ]
 [5.3   4.   ]
 [6.2   3.025]]

 Number of interation: 3

 Labels: [2 0 2 0 1 0 0 2 1 2]